input{
     text-align: center;
    width: 250px;    
    display: block;
    margin: 0 auto; 
    
    

}
button{
    text-align: center;
    width: 250px;    
    display: block;
    margin: 0 auto; 
}
h1{
    text-align: center;
}
